<% if signed_in?%>

<div class="row">
  <aside class="col-md-6">
  	<section>
   		<%= render 'shared/user_info' %>
  	</section>
  	<section>
   		<%= render 'shared/post_form' %>
  	</section>
    <section>
      <%= render 'shared/group_posts' %>
    </section>
  </aside>
</div>

<%else%>
  <div class="center hero-unit">
    <h1>Bem-vindo ao Projeto-GIZ</h1>
    
    <div class = "row">
      <h1> Inscreva-se agora! </h1>
      <h3> Você é aluno ou professor? </h3>
      <br>
      <div class = "col-md-2 col-md-offset-4">
        <%= link_to "Aluno", signup_path, class: "btn btn-primary2 btn-lg btn-block" %>
      </div>
      <div class = "col-md-2">
        <%= link_to "Professor", signup_teacher_path, class: "btn btn-primary2 btn-lg btn-block" %>
      </div>
    </div>
  </div>
<%end%>
