<h1><%= @group.name %><h1>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>

<!-- Loading all group's posts-->
<div class="span8">
    <% if @group.posts.any? %>
      <h3>Posts (<%= @group.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
</div>


