<p id="notice"><%= notice %></p>

<% if @group.posts.any? %>
  <h3>Posts (<%= @post_count %>)</h3>
  <ol class="posts">
  	<%= render @user_post %>
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
<% end %>