<%= form_for @post, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Escrever novo post..." %>
	</div>      
	<%= f.file_field :photo %>
	<br><br>
	<% unless current_user.teacher? %>
		<%= f.label :subject, "Matéria" %>
		<% subjects = Subject.all.map{ |f| [f.name] } %>
		<%= f.select :subject, options_for_select(subjects) %>
	<% else %>
		<%= f.label :group_id, "Turma" %>
        <% groups = Group.all.map{ |f| [f.name, f.id] } %>
        <%= f.select :group_id, options_for_select(groups) %>
	<% end %>
	<br><br>
	<%= f.submit "Postar", class: "btn btn-lg btn-primary2" %>

<% end %>
