<%= form_for @post, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Escrever novo post..." %>
	</div>      
	
	<%= f.file_field :photo %>

	<br><br>
	<%= f.label :subject, "Matéria" %>
	<% subjects = Subject.all.map{ |f| [f.name] } %>
	<%= f.select :subject, options_for_select(subjects) %>
	<br><br>
	<%= f.submit "Postar", class: "btn btn-lg btn-primary" %>

<% end %>
