<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> O evento não foi salvo: </h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="eventField" class="field">
    <%= f.label :title, "Nome" %><br>
    <%= f.text_field :title %>
  </div>
  <div id="eventField" class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>
  <div id="eventField" class="field">
    <%= f.label :start_time, "Início" %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div id="eventField" class="field">
    <%= f.label :end_time, "Fim" %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end %>
