<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Início:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>
