<li>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
  	Postado em 
    <% createdTime = post.created_at.in_time_zone('Brasilia') %>
    <%= createdTime.day%>/<%= createdTime.month%>/<%= createdTime.year%>
     <%= createdTime.hour%>:<%= createdTime.min%>:<%= createdTime.sec%>
  </span><br>
  <% if post.photo.present? %>
  	<%= image_tag post.photo.url %>
  <% end %>
</li>
