<li>
    <% unless current_user.teacher? %>
      <%= gravatar_for User.find(post.user_id)%>
      <div class="name"><h4><%= User.find(post.user_id).name %></h4></div>
    <% else %>
      <div class="name"><h4><%= Group.find(post.group_id).name %></h4></div>
    <% end %>
    <div class="content"><%= post.content %></div>
    <div class="timestamp">
    	Postado em 
      <% createdTime = post.created_at.in_time_zone('Brasilia') %>
      <%= createdTime.day%>/<%= createdTime.month%>/<%= createdTime.year%>
      <%= createdTime.hour%>:<%= createdTime.min%>:<%= createdTime.sec%>
    </div><br>
    <% if post.photo.present? %>
      <%= post.photo_file_name %>
      <%= link_to "Download", post.photo.url %>
    <% end %>
</li>
